.slider__item
{
  position: relative;
  transform-style: preserve-3d;
  transform: perspective(800px);
  flex: 0 0 $elemWidth;
  height: 250px;
  transition: all 1s ease-in-out;
  z-index: 1;
}