html,
body
{
    margin: 0;
    height: 100%;
}

body
{
    background-color: #eee;
    display: flex;
    align-items: center;
    justify-content: center;
}

@import "blocks/carousel/carousel.styl"
