$body-background = invert(#ccc)

.page
	background-color: $body-background
	overflow-x: hidden

.photo-input
	display: none

.slider
    transform-style: preserve-3d
    width: 99%
    margin-top: 200px
    text-align: center
    transition: all 1s ease-out

.slider__photo
	background-size: 100%
    display: inline-block
    height: 160px
    display: inline-block
    width: 14%
    transition: all 1s ease-out
    position: relative

$images = ( "1.jpg" "2.jpg" "3.jpg" "4.jpg" "5.jpg" "6.jpg" "7.jpg" )
$num = ( first second third fourth fifth sixth seventh )

for $n in (0..6)
    $image = $images[$n]
    .slider__photo-{$num[$n]}
        background url($image)

$id = ( first second third fifth sixth seventh )
$values = ( 20 15 8 -9 -17 -19 )

for $n in (0..5)
    $value = $values[$n]
    #{$id[$n]}:check ~ .slider
        transform translateX($value)

