my_transform(translate_x_percent = 100%, scale_x = .8, left = false)
  if left
    transform translateX(translate_x_percent) rotateY(30deg) scaleX(scale_x)
  else
    transform translateX(translate_x_percent) rotateY(-30deg) scaleX(scale_x)

percentage($decimal)
  $factor = $decimal - 1
  ($factor * 50 + 100) %

$background-color = #FFF

.photo-radio
  display none

.page
  width 100%

.gallery
  position: relative;
  margin: 200px auto;
  width: 150px;
  perspective: 200px;

.vegetable
  background: $background-color;
  margin: 0 auto;
  position: absolute;
  width: 150px;
  box-shadow: 0 5px 30px #808080;
  transition: transform 1.4s ease 0s, left 1.4s ease;

.img
  size 150px auto

.vegetable_controller_photo_
  $num = 1
  for $index in (1..6)
    &_{$num}:checked ~ vegetable_photo_{$num+$index}
      my_transform(percentage($index), 1 - (0.1 * ($index) + 0.1))
      z-index 7 - $index


  for $num in (2..6)
    &_{$num}:checked ~ .vegetable_photo_{$num}
      transform scaleXY(1)
      z-index 6

  for $num in 1 7
    &_{$num}:checked ~ .vegetable_photo_{$num}
      transform scaleXY(1)
      z-index 7

  for $num in (2..6)
    &_{$num}:checked ~ vegetable_photo_{$num+1}
      my_transform()
      z-index 5

  for $num in (2..5)
    &_{$num}:checked ~ vegetable_photo_{$num+2}
      my_transform(150%, .7)
      z-index 4

  for $num in (2..4)
    &_{$num}:checked ~ vegetable_photo_{$num+3}
      my_transform(200%, .6)
      z-index 3

  for $num in 2 3
    &_{$num}:checked ~ vegetable_photo_{$num+4}
      my_transform(250%, .5)
      z-index 2

  for $num in 2
    &_{$num}:checked ~ vegetable_photo_{$num+5}
      my_transform(300%, .4)
      z-index 1

  for $num in (1..6)
    &_{$num+1}:checked ~ vegetable_photo_{$num}
      my_transform(-100%, .8, true)
      z-index 5

  for $num in (1..5)
    &_{$num+2}:checked ~ vegetable_photo_{$num}
      my_transform(-150%, .7, true)
      z-index 4

  for $num in (1..4)
    &_{$num+3}:checked ~ vegetable_photo_{$num}
      my_transform(-200%, .6, true)
      z-index 3

  for $num in (1..3)
    &_{$num+4}:checked ~ vegetable_photo_{$num}
      my_transform(-250%, .5, true)
      z-index 2

  for $num in 1 2
    &_{$num+5}:checked ~ vegetable_photo_{$num}
      my_transform(-300%, .4, true)
      z-index 1

  for $num in 1
    &_{$num+6}:checked ~ vegetable_photo_{$num}
      my_transform(-350%, .3, true)
      z-index 1
