my_transform(translate_x_percent = 100%, scale_x = .8, left = false)
  if left
    transform translateX(translate_x_percent) rotateY(30deg) scaleX(scale_x)
  else
    transform translateX(translate_x_percent) rotateY(-30deg) scaleX(scale_x)

$background-coloe = #FFF

.photo-radio
.recipe-radio
  display none

.page
  width 100%

.gallery
  position: relative;
  margin: 200px auto;
  width: 150px;
  perspective: 200px;

.vegetable
  background: $background-coloe;
  margin: 0 auto;
  position: absolute;
  width: 150px;
  box-shadow: 0 5px 30px #808080;
  transition: transform 1.4s ease 0s, left 1.4s ease;

  &__recipe-btn
    border: 3px solid white;
    border-radius: 50%;
    padding: 20%;
    margin: 0 auto;

.img
  width: 150px;
  height: auto;

#photo
  &-one ~ .photo-one .vegetable__recipe
  &-two ~ .photo-two .vegetable__recipe
  &-three ~ .photo-three .vegetable__recipe
  &-four ~ .photo-four .vegetable__recipe
  &-five ~ .photo-five .vegetable__recipe
  &-six ~ .photo-six .vegetable__recipe
  &-seven ~ .photo-seven .vegetable__recipe
    display none

  &-two:checked ~ .photo-two
  &-three:checked ~ .photo-three
  &-four:checked ~ .photo-four
  &-five:checked ~ .photo-five
  &-six:checked ~ .photo-six
    transform scaleXY(1)
    z-index 6

  &-one:checked ~ .photo-one
  &-seven:checked ~ .photo-seven
    transform scaleXY(1)
    z-index 7

  &-one:checked ~ .photo-two
    my_transform()
    z-index 6

  &-two:checked ~ .photo-three
  &-three:checked ~ .photo-four
  &-four:checked ~ .photo-five
  &-five:checked ~ .photo-six
  &-six:checked ~ .photo-seven
    my_transform()
    z-index 5

  &-one:checked ~ .photo-three
    my_transform(150%, .7)
    z-index 5

  &-two:checked ~ .photo-four
  &-three:checked ~ .photo-five
  &-four:checked ~ .photo-six
  &-five:checked ~ .photo-seven
    my_transform(150%, .7)
    z-index 4

  &-one:checked ~ .photo-four
    my_transform(200%, .6)
    z-index 4


  &-two:checked ~ .photo-five
  &-three:checked ~ .photo-six
  &-four:checked ~ .photo-seven
    my_transform(200%, .6)
    z-index 3

  &-one:checked ~ .photo-five
    my_transform(250%, .5)
    z-index 3


  &-three:checked ~ .photo-seven
  &-two:checked ~ .photo-six
    my_transform(250%, .5)
    z-index 2

  &-one:checked ~ .photo-six
    my_transform(300%, .4)
    z-index 2

  &-two:checked ~ .photo-seven
    my_transform(300%, .4)
    z-index 1


  &-one:checked ~ .photo-seven
    my_transform(350%, .3)
    z-index 1

  &-two:checked ~ .photo-one
  &-three:checked ~ .photo-two
  &-four:checked ~ .photo-three
  &-five:checked ~ .photo-four
  &-six:checked ~ .photo-five
  &-seven:checked ~ .photo-six
    my_transform(-100%, .8, true)
    z-index 5

  &-three:checked ~ .photo-one
  &-four:checked ~ .photo-two
  &-five:checked ~ .photo-three
  &-six:checked ~ .photo-four
  &-seven:checked ~ .photo-five
    my_transform(-150%, .7, true)
    z-index 4

  &-four:checked ~ .photo-one
  &-five:checked ~ .photo-two
  &-six:checked ~ .photo-three
  &-seven:checked ~ .photo-four
    my_transform(-200%, .6, true)
    z-index 3

  &-five:checked ~ .photo-one
  &-six:checked ~ .photo-two
  &-seven:checked ~ .photo-three
    my_transform(-250%, .5, true)
    z-index 2

  &-six:checked ~ .photo-one
  &-seven:checked ~ .photo-two
    my_transform(-300%, .4, true)
    z-index 1

  &-seven:checked ~ .photo-one
    my_transform(-350%, .3, true)
    z-index 1

  &-one:checked ~ .photo-one:hover .vegetable__recipe
  &-two:checked ~ .photo-two:hover .vegetable__recipe
  &-three:checked ~ .photo-three:hover .vegetable__recipe
  &-four:checked ~ .photo-four:hover .vegetable__recipe
  &-five:checked ~ .photo-five:hover .vegetable__recipe
  &-six:checked ~ .photo-six:hover .vegetable__recipe
  &-seven:checked ~ .photo-seven:hover .vegetable__recipe
    position absolute
    display flex
    align-items center
    justify-content center
    color white
    width 100%
    height 100%
    z-index 8
    background rgba(80, 80, 80, .5)

