body
{
  display: flex;
  background-color: #ebebeb;
}

@import 'slider/slider.styl'
@import 'input/input.styl'
@import 'slider/__img/slider__img.styl'
@import 'slider/__label/slider__label.styl'
@import 'slider/__item/slider__item.styl'
