body
{
  display: flex;
  background-color: #ebebeb;
}

@import 'slider/slider'
@import 'input/input'
@import 'slider/__img/slider__img'
@import 'slider/__label/slider__label'
@import 'slider/__item/slider__item'
