body {
  display: flex;
  background-color: #ebebeb;
}
.slider {
  display: flex;
  position: relative;
  margin: 0 auto;
  top: 100px;
  height: 150px;
  flex-direction: row;
  justify-content: center;
}
.input {
  display: none;
}
.slider__img {
  display: block;
  position: absolute;
  margin: auto;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  max-width: 100%;
  max-height: 100%;
}
.slider__label {
  display: block;
  position: relative;
  height: 100%;
  width: 200px;
  background-color: #fff;
  box-shadow: 2px 2px 5px #c8c8c8;
  transition-property: transform;
  transition-timing-function: linear;
  transition-duration: 1s;
  cursor: pointer;
}
#photo-1:checked ~ .slider .slider__label[for='photo-1'] {
  transform: translateZ(50px);
  box-shadow: 2px 2px 5px #c8c8c8, -2px 0 5px #c8c8c8;
}
#photo-2:checked ~ .slider .slider__label[for='photo-2'] {
  transform: translateZ(50px);
  box-shadow: 2px 2px 5px #c8c8c8, -2px 0 5px #c8c8c8;
}
#photo-3:checked ~ .slider .slider__label[for='photo-3'] {
  transform: translateZ(50px);
  box-shadow: 2px 2px 5px #c8c8c8, -2px 0 5px #c8c8c8;
}
#photo-4:checked ~ .slider .slider__label[for='photo-4'] {
  transform: translateZ(50px);
  box-shadow: 2px 2px 5px #c8c8c8, -2px 0 5px #c8c8c8;
}
#photo-5:checked ~ .slider .slider__label[for='photo-5'] {
  transform: translateZ(50px);
  box-shadow: 2px 2px 5px #c8c8c8, -2px 0 5px #c8c8c8;
}
#photo-6:checked ~ .slider .slider__label[for='photo-6'] {
  transform: translateZ(50px);
  box-shadow: 2px 2px 5px #c8c8c8, -2px 0 5px #c8c8c8;
}
#photo-7:checked ~ .slider .slider__label[for='photo-7'] {
  transform: translateZ(50px);
  box-shadow: 2px 2px 5px #c8c8c8, -2px 0 5px #c8c8c8;
}
#photo-1:checked ~ .slider .slider__label[for='photo-2'] {
  transform: rotateY(-40deg);
}
#photo-1:checked ~ .slider .slider__label[for='photo-3'] {
  transform: rotateY(-35deg);
}
#photo-1:checked ~ .slider .slider__label[for='photo-4'] {
  transform: rotateY(-30deg);
}
#photo-1:checked ~ .slider .slider__label[for='photo-5'] {
  transform: rotateY(-25deg);
}
#photo-1:checked ~ .slider .slider__label[for='photo-6'] {
  transform: rotateY(-20deg);
}
#photo-1:checked ~ .slider .slider__label[for='photo-7'] {
  transform: rotateY(-15deg);
}
#photo-2:checked ~ .slider .slider__label[for='photo-1'] {
  transform: rotateY(35deg);
}
#photo-2:checked ~ .slider .slider__label[for='photo-3'] {
  transform: rotateY(-35deg);
}
#photo-2:checked ~ .slider .slider__label[for='photo-4'] {
  transform: rotateY(-30deg);
}
#photo-2:checked ~ .slider .slider__label[for='photo-5'] {
  transform: rotateY(-25deg);
}
#photo-2:checked ~ .slider .slider__label[for='photo-6'] {
  transform: rotateY(-20deg);
}
#photo-2:checked ~ .slider .slider__label[for='photo-7'] {
  transform: rotateY(-15deg);
}
#photo-3:checked ~ .slider .slider__label[for='photo-1'] {
  transform: rotateY(25deg);
}
#photo-3:checked ~ .slider .slider__label[for='photo-2'] {
  transform: rotateY(30deg);
}
#photo-3:checked ~ .slider .slider__label[for='photo-4'] {
  transform: rotateY(-30deg);
}
#photo-3:checked ~ .slider .slider__label[for='photo-5'] {
  transform: rotateY(-25deg);
}
#photo-3:checked ~ .slider .slider__label[for='photo-6'] {
  transform: rotateY(-20deg);
}
#photo-3:checked ~ .slider .slider__label[for='photo-7'] {
  transform: rotateY(-15deg);
}
#photo-4:checked ~ .slider .slider__label[for='photo-1'] {
  transform: rotateY(15deg);
}
#photo-4:checked ~ .slider .slider__label[for='photo-2'] {
  transform: rotateY(20deg);
}
#photo-4:checked ~ .slider .slider__label[for='photo-3'] {
  transform: rotateY(25deg);
}
#photo-4:checked ~ .slider .slider__label[for='photo-5'] {
  transform: rotateY(-25deg);
}
#photo-4:checked ~ .slider .slider__label[for='photo-6'] {
  transform: rotateY(-20deg);
}
#photo-4:checked ~ .slider .slider__label[for='photo-7'] {
  transform: rotateY(-15deg);
}
#photo-5:checked ~ .slider .slider__label[for='photo-1'] {
  transform: rotateY(15deg);
}
#photo-5:checked ~ .slider .slider__label[for='photo-2'] {
  transform: rotateY(20deg);
}
#photo-5:checked ~ .slider .slider__label[for='photo-3'] {
  transform: rotateY(25deg);
}
#photo-5:checked ~ .slider .slider__label[for='photo-4'] {
  transform: rotateY(30deg);
}
#photo-5:checked ~ .slider .slider__label[for='photo-6'] {
  transform: rotateY(-30deg);
}
#photo-5:checked ~ .slider .slider__label[for='photo-7'] {
  transform: rotateY(-25deg);
}
#photo-6:checked ~ .slider .slider__label[for='photo-1'] {
  transform: rotateY(15deg);
}
#photo-6:checked ~ .slider .slider__label[for='photo-2'] {
  transform: rotateY(20deg);
}
#photo-6:checked ~ .slider .slider__label[for='photo-3'] {
  transform: rotateY(25deg);
}
#photo-6:checked ~ .slider .slider__label[for='photo-4'] {
  transform: rotateY(30deg);
}
#photo-6:checked ~ .slider .slider__label[for='photo-5'] {
  transform: rotateY(35deg);
}
#photo-6:checked ~ .slider .slider__label[for='photo-7'] {
  transform: rotateY(-35deg);
}
#photo-7:checked ~ .slider .slider__label[for='photo-1'] {
  transform: rotateY(15deg);
}
#photo-7:checked ~ .slider .slider__label[for='photo-2'] {
  transform: rotateY(20deg);
}
#photo-7:checked ~ .slider .slider__label[for='photo-3'] {
  transform: rotateY(25deg);
}
#photo-7:checked ~ .slider .slider__label[for='photo-4'] {
  transform: rotateY(30deg);
}
#photo-7:checked ~ .slider .slider__label[for='photo-5'] {
  transform: rotateY(35deg);
}
#photo-7:checked ~ .slider .slider__label[for='photo-6'] {
  transform: rotateY(40deg);
}
.slider__item {
  position: relative;
  height: 100%;
  max-width: 100px;
  perspective: 400px;
  transform: translateX(0);
  transition-property: transform;
  transition-timing-function: linear;
  transition-duration: 1s;
}
.input#photo-1:checked ~ .slider .slider__item {
  transform: translateX(300px);
}
.input#photo-2:checked ~ .slider .slider__item {
  transform: translateX(200px);
}
.input#photo-3:checked ~ .slider .slider__item {
  transform: translateX(100px);
}
.input#photo-5:checked ~ .slider .slider__item {
  transform: translateX(-100px);
}
.input#photo-6:checked ~ .slider .slider__item {
  transform: translateX(-200px);
}
.input#photo-7:checked ~ .slider .slider__item {
  transform: translateX(-300px);
}
.input#photo-1:checked ~ .slider .slider__item:nth-of-type(7) {
  z-index: 1;
}
.input#photo-1:checked ~ .slider .slider__item:nth-of-type(6) {
  z-index: 2;
}
.input#photo-2:checked ~ .slider .slider__item:nth-of-type(7) {
  z-index: 2;
}
.input#photo-1:checked ~ .slider .slider__item:nth-of-type(5) {
  z-index: 3;
}
.input#photo-2:checked ~ .slider .slider__item:nth-of-type(6) {
  z-index: 3;
}
.input#photo-3:checked ~ .slider .slider__item:nth-of-type(7) {
  z-index: 3;
}
.input#photo-1:checked ~ .slider .slider__item:nth-of-type(4) {
  z-index: 4;
}
.input#photo-2:checked ~ .slider .slider__item:nth-of-type(5) {
  z-index: 4;
}
.input#photo-3:checked ~ .slider .slider__item:nth-of-type(6) {
  z-index: 4;
}
.input#photo-4:checked ~ .slider .slider__item:nth-of-type(7) {
  z-index: 4;
}
.input#photo-1:checked ~ .slider .slider__item:nth-of-type(3) {
  z-index: 5;
}
.input#photo-2:checked ~ .slider .slider__item:nth-of-type(4) {
  z-index: 5;
}
.input#photo-3:checked ~ .slider .slider__item:nth-of-type(5) {
  z-index: 5;
}
.input#photo-4:checked ~ .slider .slider__item:nth-of-type(6) {
  z-index: 5;
}
.input#photo-5:checked ~ .slider .slider__item:nth-of-type(7) {
  z-index: 5;
}
.input#photo-1:checked ~ .slider .slider__item:nth-of-type(2) {
  z-index: 6;
}
.input#photo-2:checked ~ .slider .slider__item:nth-of-type(3) {
  z-index: 6;
}
.input#photo-3:checked ~ .slider .slider__item:nth-of-type(4) {
  z-index: 6;
}
.input#photo-4:checked ~ .slider .slider__item:nth-of-type(5) {
  z-index: 6;
}
.input#photo-5:checked ~ .slider .slider__item:nth-of-type(6) {
  z-index: 6;
}
.input#photo-6:checked ~ .slider .slider__item:nth-of-type(7) {
  z-index: 6;
}
.input#photo-1:checked ~ .slider .slider__item:nth-of-type(1) {
  z-index: 7;
}
.input#photo-2:checked ~ .slider .slider__item:nth-of-type(2) {
  z-index: 7;
}
.input#photo-3:checked ~ .slider .slider__item:nth-of-type(3) {
  z-index: 7;
}
.input#photo-4:checked ~ .slider .slider__item:nth-of-type(4) {
  z-index: 7;
}
.input#photo-5:checked ~ .slider .slider__item:nth-of-type(5) {
  z-index: 7;
}
.input#photo-6:checked ~ .slider .slider__item:nth-of-type(6) {
  z-index: 7;
}
.input#photo-7:checked ~ .slider .slider__item:nth-of-type(7) {
  z-index: 7;
}
