.main
{
  font: 300 16px Roboto, Arial, sans-serif;

  display: flex;
  overflow: hidden;

  width: 100vw;
  height: 100vh;

  background-color: #f5f7f8;

  justify-content: center;
  align-items: center;
}

input
{
  display: none;
}