$images = {
    beet: '../images/beet.jpg',
    carrot: '../images/carrot.jpg',
    cucumber: '../images/cucumber.jpg',
    mellon: '../images/mellon.jpg',
    onion: '../images/onion.jpg',
    squash: '../images/squash.jpg',
    tomato: '../images/tomato.jpg'
};

$carousel_width = 1400px;
$carousel_number_of_items = 7;

$carousel_height = 150px;

@import "__item/carousel__item.styl";
@import "__radio/carousel__radio.styl";

$image-container__image_width = $carousel__item_width;
$image-container__image_height = $carousel_height;

@import "blocks/image-container/image-container.styl"

.carousel {
    width: $carousel_width;
    height: $carousel_height;
    position: relative;
    perspective: 800px;
}
