.recipe {
  position: absolute;
  left: 50%;
  top: 50%;
  width: 150%;
  height: auto;
  padding: 20px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  transform: perspective(800px) translate3d(-50%, -50%, -10px) rotateX(-180deg);
  backface-visibility: hidden;
}