.items-slide__vegetable-card {
  position: relative;
  height: 100%;
  max-width: 100px;
  perspective: 400px;
  transform: translateX(0);
  transition-property: transform;
  transition-timing-function: linear;
  transition-duration: 1s;
}
.items-slide__input#photo-1:checked ~ .items-slide .items-slide__vegetable-card {
  transform: translateX(300px);
}
.items-slide__input#photo-2:checked ~ .items-slide .items-slide__vegetable-card {
  transform: translateX(200px);
}
.items-slide__input#photo-3:checked ~ .items-slide .items-slide__vegetable-card {
  transform: translateX(100px);
}
.items-slide__input#photo-5:checked ~ .items-slide .items-slide__vegetable-card {
  transform: translateX(-100px);
}
.items-slide__input#photo-6:checked ~ .items-slide .items-slide__vegetable-card {
  transform: translateX(-200px);
}
.items-slide__input#photo-7:checked ~ .items-slide .items-slide__vegetable-card {
  transform: translateX(-300px);
}
.items-slide__input#photo-1:checked ~ .items-slide .items-slide__vegetable-card:nth-of-type(7) {
  z-index: 1;
}
.items-slide__input#photo-1:checked ~ .items-slide .items-slide__vegetable-card:nth-of-type(6) {
  z-index: 2;
}
.items-slide__input#photo-2:checked ~ .items-slide .items-slide__vegetable-card:nth-of-type(7) {
  z-index: 2;
}
.items-slide__input#photo-1:checked ~ .items-slide .items-slide__vegetable-card:nth-of-type(5) {
  z-index: 3;
}
.items-slide__input#photo-2:checked ~ .items-slide .items-slide__vegetable-card:nth-of-type(6) {
  z-index: 3;
}
.items-slide__input#photo-3:checked ~ .items-slide .items-slide__vegetable-card:nth-of-type(7) {
  z-index: 3;
}
.items-slide__input#photo-1:checked ~ .items-slide .items-slide__vegetable-card:nth-of-type(4) {
  z-index: 4;
}
.items-slide__input#photo-2:checked ~ .items-slide .items-slide__vegetable-card:nth-of-type(5) {
  z-index: 4;
}
.items-slide__input#photo-3:checked ~ .items-slide .items-slide__vegetable-card:nth-of-type(6) {
  z-index: 4;
}
.items-slide__input#photo-4:checked ~ .items-slide .items-slide__vegetable-card:nth-of-type(7) {
  z-index: 4;
}
.items-slide__input#photo-1:checked ~ .items-slide .items-slide__vegetable-card:nth-of-type(3) {
  z-index: 5;
}
.items-slide__input#photo-2:checked ~ .items-slide .items-slide__vegetable-card:nth-of-type(4) {
  z-index: 5;
}
.items-slide__input#photo-3:checked ~ .items-slide .items-slide__vegetable-card:nth-of-type(5) {
  z-index: 5;
}
.items-slide__input#photo-4:checked ~ .items-slide .items-slide__vegetable-card:nth-of-type(6) {
  z-index: 5;
}
.items-slide__input#photo-5:checked ~ .items-slide .items-slide__vegetable-card:nth-of-type(7) {
  z-index: 5;
}
.items-slide__input#photo-1:checked ~ .items-slide .items-slide__vegetable-card:nth-of-type(2) {
  z-index: 6;
}
.items-slide__input#photo-2:checked ~ .items-slide .items-slide__vegetable-card:nth-of-type(3) {
  z-index: 6;
}
.items-slide__input#photo-3:checked ~ .items-slide .items-slide__vegetable-card:nth-of-type(4) {
  z-index: 6;
}
.items-slide__input#photo-4:checked ~ .items-slide .items-slide__vegetable-card:nth-of-type(5) {
  z-index: 6;
}
.items-slide__input#photo-5:checked ~ .items-slide .items-slide__vegetable-card:nth-of-type(6) {
  z-index: 6;
}
.items-slide__input#photo-6:checked ~ .items-slide .items-slide__vegetable-card:nth-of-type(7) {
  z-index: 6;
}
.items-slide__input#photo-1:checked ~ .items-slide .items-slide__vegetable-card:nth-of-type(1) {
  z-index: 7;
}
.items-slide__input#photo-2:checked ~ .items-slide .items-slide__vegetable-card:nth-of-type(2) {
  z-index: 7;
}
.items-slide__input#photo-3:checked ~ .items-slide .items-slide__vegetable-card:nth-of-type(3) {
  z-index: 7;
}
.items-slide__input#photo-4:checked ~ .items-slide .items-slide__vegetable-card:nth-of-type(4) {
  z-index: 7;
}
.items-slide__input#photo-5:checked ~ .items-slide .items-slide__vegetable-card:nth-of-type(5) {
  z-index: 7;
}
.items-slide__input#photo-6:checked ~ .items-slide .items-slide__vegetable-card:nth-of-type(6) {
  z-index: 7;
}
.items-slide__input#photo-7:checked ~ .items-slide .items-slide__vegetable-card:nth-of-type(7) {
  z-index: 7;
}
