.items-slide__label {
  display: block;
  position: relative;
  height: 100%;
  width: 200px;
  background-color: #fff;
  box-shadow: 2px 2px 5px #c8c8c8;
  transition-property: transform;
  transition-timing-function: linear;
  transition-duration: 1s;
  cursor: pointer;
}
#photo-1:checked ~ .items-slide .items-slide__label[for='photo-1'] {
  transform: translateZ(50px);
  box-shadow: 2px 2px 5px #c8c8c8, -2px 0 5px #c8c8c8;
}
#photo-2:checked ~ .items-slide .items-slide__label[for='photo-2'] {
  transform: translateZ(50px);
  box-shadow: 2px 2px 5px #c8c8c8, -2px 0 5px #c8c8c8;
}
#photo-3:checked ~ .items-slide .items-slide__label[for='photo-3'] {
  transform: translateZ(50px);
  box-shadow: 2px 2px 5px #c8c8c8, -2px 0 5px #c8c8c8;
}
#photo-4:checked ~ .items-slide .items-slide__label[for='photo-4'] {
  transform: translateZ(50px);
  box-shadow: 2px 2px 5px #c8c8c8, -2px 0 5px #c8c8c8;
}
#photo-5:checked ~ .items-slide .items-slide__label[for='photo-5'] {
  transform: translateZ(50px);
  box-shadow: 2px 2px 5px #c8c8c8, -2px 0 5px #c8c8c8;
}
#photo-6:checked ~ .items-slide .items-slide__label[for='photo-6'] {
  transform: translateZ(50px);
  box-shadow: 2px 2px 5px #c8c8c8, -2px 0 5px #c8c8c8;
}
#photo-7:checked ~ .items-slide .items-slide__label[for='photo-7'] {
  transform: translateZ(50px);
  box-shadow: 2px 2px 5px #c8c8c8, -2px 0 5px #c8c8c8;
}
/*
5 — разница в градусах между соседними фото
максимальное допустимое число фото в ряду — 13
*/
#photo-1:checked ~ .items-slide .items-slide__label[for='photo-2'] {
  transform: rotateY(-40deg);
}
#photo-1:checked ~ .items-slide .items-slide__label[for='photo-3'] {
  transform: rotateY(-35deg);
}
#photo-1:checked ~ .items-slide .items-slide__label[for='photo-4'] {
  transform: rotateY(-30deg);
}
#photo-1:checked ~ .items-slide .items-slide__label[for='photo-5'] {
  transform: rotateY(-25deg);
}
#photo-1:checked ~ .items-slide .items-slide__label[for='photo-6'] {
  transform: rotateY(-20deg);
}
#photo-1:checked ~ .items-slide .items-slide__label[for='photo-7'] {
  transform: rotateY(-15deg);
}
#photo-2:checked ~ .items-slide .items-slide__label[for='photo-1'] {
  transform: rotateY(35deg);
}
#photo-2:checked ~ .items-slide .items-slide__label[for='photo-3'] {
  transform: rotateY(-35deg);
}
#photo-2:checked ~ .items-slide .items-slide__label[for='photo-4'] {
  transform: rotateY(-30deg);
}
#photo-2:checked ~ .items-slide .items-slide__label[for='photo-5'] {
  transform: rotateY(-25deg);
}
#photo-2:checked ~ .items-slide .items-slide__label[for='photo-6'] {
  transform: rotateY(-20deg);
}
#photo-2:checked ~ .items-slide .items-slide__label[for='photo-7'] {
  transform: rotateY(-15deg);
}
#photo-3:checked ~ .items-slide .items-slide__label[for='photo-1'] {
  transform: rotateY(25deg);
}
#photo-3:checked ~ .items-slide .items-slide__label[for='photo-2'] {
  transform: rotateY(30deg);
}
#photo-3:checked ~ .items-slide .items-slide__label[for='photo-4'] {
  transform: rotateY(-30deg);
}
#photo-3:checked ~ .items-slide .items-slide__label[for='photo-5'] {
  transform: rotateY(-25deg);
}
#photo-3:checked ~ .items-slide .items-slide__label[for='photo-6'] {
  transform: rotateY(-20deg);
}
#photo-3:checked ~ .items-slide .items-slide__label[for='photo-7'] {
  transform: rotateY(-15deg);
}
#photo-4:checked ~ .items-slide .items-slide__label[for='photo-1'] {
  transform: rotateY(15deg);
}
#photo-4:checked ~ .items-slide .items-slide__label[for='photo-2'] {
  transform: rotateY(20deg);
}
#photo-4:checked ~ .items-slide .items-slide__label[for='photo-3'] {
  transform: rotateY(25deg);
}
#photo-4:checked ~ .items-slide .items-slide__label[for='photo-5'] {
  transform: rotateY(-25deg);
}
#photo-4:checked ~ .items-slide .items-slide__label[for='photo-6'] {
  transform: rotateY(-20deg);
}
#photo-4:checked ~ .items-slide .items-slide__label[for='photo-7'] {
  transform: rotateY(-15deg);
}
#photo-5:checked ~ .items-slide .items-slide__label[for='photo-1'] {
  transform: rotateY(15deg);
}
#photo-5:checked ~ .items-slide .items-slide__label[for='photo-2'] {
  transform: rotateY(20deg);
}
#photo-5:checked ~ .items-slide .items-slide__label[for='photo-3'] {
  transform: rotateY(25deg);
}
#photo-5:checked ~ .items-slide .items-slide__label[for='photo-4'] {
  transform: rotateY(30deg);
}
#photo-5:checked ~ .items-slide .items-slide__label[for='photo-6'] {
  transform: rotateY(-30deg);
}
#photo-5:checked ~ .items-slide .items-slide__label[for='photo-7'] {
  transform: rotateY(-25deg);
}
#photo-6:checked ~ .items-slide .items-slide__label[for='photo-1'] {
  transform: rotateY(15deg);
}
#photo-6:checked ~ .items-slide .items-slide__label[for='photo-2'] {
  transform: rotateY(20deg);
}
#photo-6:checked ~ .items-slide .items-slide__label[for='photo-3'] {
  transform: rotateY(25deg);
}
#photo-6:checked ~ .items-slide .items-slide__label[for='photo-4'] {
  transform: rotateY(30deg);
}
#photo-6:checked ~ .items-slide .items-slide__label[for='photo-5'] {
  transform: rotateY(35deg);
}
#photo-6:checked ~ .items-slide .items-slide__label[for='photo-7'] {
  transform: rotateY(-35deg);
}
#photo-7:checked ~ .items-slide .items-slide__label[for='photo-1'] {
  transform: rotateY(15deg);
}
#photo-7:checked ~ .items-slide .items-slide__label[for='photo-2'] {
  transform: rotateY(20deg);
}
#photo-7:checked ~ .items-slide .items-slide__label[for='photo-3'] {
  transform: rotateY(25deg);
}
#photo-7:checked ~ .items-slide .items-slide__label[for='photo-4'] {
  transform: rotateY(30deg);
}
#photo-7:checked ~ .items-slide .items-slide__label[for='photo-5'] {
  transform: rotateY(35deg);
}
#photo-7:checked ~ .items-slide .items-slide__label[for='photo-6'] {
  transform: rotateY(40deg);
}
