@import "_name/image-container__image_name.styl"

.image-container__image {
    width: $image-container__image_width;
    height: $image-container__image_height;
    background-size: cover;
    background-position: center center;
}

